<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/index.css">
  <title></title>
</head>
<body>

<h1>index主页</h1>
<div><%=username%></div>
<span>欢迎您！</span>
<a href="/buybuybuy.do">购买支付页</a>
<a href="/deletUser.do">注销登录</a>

</body>
</html>