<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<!--npm install ejs --save -->
<%-include('common/header.ejs')%>
<div>《%=变量%》</div>

<h1>欢迎登录本网站！<%=username%></h1>
<h1><%=test%></h1>
<%-include('common/footer.ejs')%>
</body>
</html>