<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .biaozhu{
            color:red;
        }
    </style>
</head>
<body>

<div id="myapp">
    <input v-model="msg" type="text">
    <h1>{{msg}}</h1>

    <table border="1" width="500">
        <tr>
            <th>学生ID</th>
            <th>学生姓名</th>
            <th>学生年龄</th>
            <th>学生班级</th>
            <th>操作</th>
        </tr>
        <tr :class="{biaozhu:item.isTrue}" v-for="item in student">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.classid}}</td>
            <td>
                <button>修改</button>
                <button @click="delData(item.id)">删除</button>
                <button @click="setBiao(item.id)">标注</button>
            </td>
        </tr>
    </table>
</div>
<script src="../vue.js"></script>
<script>
    var myapp = new Vue({
      el:'#myapp',
      data:{
        msg:"148",
        student:[
          {id:1,name:"张三",age:20,classid:1,isTrue:false},
          {id:2,name:"李四",age:23,classid:2,isTrue:false},
          {id:3,name:"王五",age:18,classid:2,isTrue:false},
          {id:4,name:"赵六",age:19,classid:3,isTrue:false}
        ]
      },
      methods:{
        delData(id){
          console.log(id)
          this.student.forEach(function (key, index, arr) {
            if(key.id == id){
              arr.splice(index,1)
            }
          })
        },
        setBiao(id){
          this.student.forEach(function (key, index, arr) {
            if(key.id==id){
              key.isTrue = !key.isTrue
            }
          })
        }

      }
    })
</script>
</body>
</html>